<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentReg</servlet-name>
        <servlet-class>QRAttendance.StudentReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentActivate</servlet-name>
        <servlet-class>QRAttendance.StudentActivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLog</servlet-name>
        <servlet-class>QRAttendance.StaffLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLog</servlet-name>
        <servlet-class>QRAttendance.StudentLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentReject</servlet-name>
        <servlet-class>QRAttendance.StudentReject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentReg</servlet-name>
        <url-pattern>/StudentReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentActivate</servlet-name>
        <url-pattern>/StudentActivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLog</servlet-name>
        <url-pattern>/StaffLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLog</servlet-name>
        <url-pattern>/StudentLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentReject</servlet-name>
        <url-pattern>/StudentReject</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
